.error{
    color: #e24c4c;
}

.ng-touched.ng-invalid{
    border-color: #e24c4c;
}


.fa{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color:#193C75

}

label{
  font-size: 15px;
}

.card,.card-body{
  height: 600px;
}

.h1{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
}

.btn-primary{
  background-color: #193C75;
  border: #193C75;
  color: white;
  font-weight: bold;
}
.img-fluid{
  margin-left: 120px;
}

.fa-lock , .fa-user , .fa-key{
  font-size: 1.4rem;
}

.p1{
  font-size: 14px;
}

a{
  font-weight: bold;
}