
 /* img{
    width: 100%;
    position: relative;
}

.slide1,.slide2{
    height:500px;
    background-repeat: no-repeat;
    background-position-x: unset;

}
.slide1{
    background-image: url("/assets/images/nature/woman.png");
    

}
.slide2{
    background-image: url("/assets/images/nature/ecommerce-2.png");
    
}
/*.carousel-caption {
    color: white;
    position: absolute;
    left: 50%;
    padding-top: 12.25rem;
    padding-bottom: 4.25rem;
    text-align: center;
    font-size: larger;
    height: 100%;
    background-color: darkblue;
    width: 50%;
    border-radius: 0px 0px 0px 500px;
    padding-left: 5rem;
    bottom: 0;
}*/
.mask{
    margin-top: 18rem;
}

